---
layout: default
permalink: /gswai2017
leaflet: true
map_leaflet: true
bulma_carousel: true

---

<section class="hero is-primary is-small">
  <div class="hero-body">
    <div class="container">
      <h1 class="title has-text-centered">
        GSWAI 2017
      </h1>
      <amp-iframe height="300" sandbox="allow-scripts" layout="fixed-height" 
        src="/iframes/leaflet-gswai2017">
         <amp-img layout="nodisplay" src="/assets/images/photos/StartupWeekend.jpg" 
           placeholder></amp-img>
      </amp-iframe>
      <br>
      <nav class="level">
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Weekends</p>
            <p class="title">2</p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Cities</p>
            <p class="title">+10</p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Mentors</p>
            <p class="title">+30</p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Participants</p>
            <p class="title">+500</p>
          </div>
        </div>
      </nav>

    </div>
  </div>

  <div class="container">
    <div class="columns">
      <div class="column has-text-centered">
        Douala, <strong>Cameroon</strong>
      </div>
      <div class="column has-text-centered">
        Montréal, <strong>Canada</strong>
      </div>
      <div class="column has-text-centered">
        Lima, <strong>Peru</strong>
      </div>
      <div class="column has-text-centered">
        Hong Kong, <strong>China</strong>
      </div>
    </div>

    <div class="columns">
      <div class="column has-text-centered">
        Guadalajara, <strong>Mexico</strong>
      </div>
      <div class="column has-text-centered">
        Beirut, <strong>Lebanon</strong>
      </div>
      <div class="column has-text-centered">
        Mexico City, <strong>Mexico</strong>
      </div>
      <div class="column has-text-centered">
        Carthage, <strong>Tunisia</strong>
      </div>
    </div>


    <div class="columns">
      <div class="column has-text-centered">
        Istanbul, <strong>Turkiye</strong>
      </div>
      <div class="column has-text-centered">
        Paris, <strong>France</strong>
      </div>
      <div class="column has-text-centered">
        La Paz, <strong>Bolivia</strong>
      </div>


    </div>
      <br>
  </div>


</section>

<section class="section">
  <div class="container">
    <p> It’s been already more than 6 months that the first Global Startup Weekend in the world dedicated to Artificial Intelligence took place in 11 cities around the world. In September 2017, during two weekends, one hundred web developers, graphic designers, business experts, engineers, researchers and students interested in the entrepreneurial experience worked intensively on functional startup prototypes. This global initiative is more than a simultaneous event in several places around the world: it is federating a genuine community around artificial intelligence, democratising its use, and making it more diverse, inclusive and impactful by removing boundaries.
    </p>

  </div>
</section>


<section class="hero is-primary is-small">
  <div class="hero-body">
    <div class="container">
      <h1 class="title has-text-centered">
        2017 Global Perks
      </h1>


      <center>
        <figure class="image is-center">
          <amp-img width="600" height="400" layout="intrinsic" src="/assets/images/HelloTomorrow2.jpg"></amp-img>
        </figure>
      </center>
      <div class="columns">
        <div class="column has-text-centered is-italic">
          Some SWAI participants from the top 3 winning cities & some local organizers came to the Hello Tomorrow in PARIS to live an international experience and meet advisers, investors and other Startup Weekend participants.
        </div>
      </div>



      👍 The City.AI team was happy to invite winning teams from all cities by giving one ticket to the global summit AI in Amsterdam 2017<br>

      👍 A Special Prize was attributed to the 2nd global winning team by Allianz Accelerator<br>

      👍 We offered a free google cloud tier to all participants<br>

      👍 Bridge 4 Billions offered 3 months of digital incubation for every local winner<br>

      👍 IBM offered 3 months of Bluemix Services for local winners<br>

      👍 For the Five finalists receive $20K in GCP Credits. Winner gets $100K in GCP Credits.<br>

      👍 A fast-track call of Wayra in London for the 11 local winners. This would give them the opportunity to e-pitch in front of Telefonica Senior Executive & the Wayra team for mentoring, coaching & business development.<br>


    </div>

  </div>
</section>

<section class="section">
  <div class="container" id="about">
    <h3 class="title has-text-centered">
      What they say...
    </h3>
    <div class="columns">
    {% for tweet in site.data.tweets limit: 3 %}
      <div class="column">
    <article class="media">
      <figure class="media-left">
        <p class="image is-64x64">
          <a href="{{ tweet.url }}">
            <amp-img height="64" width="64" layout="fill" 
              src="/assets/images/tweets/{{ tweet.image_author }}"></amp-img>
          </a>
        </p>
      </figure>
      <div class="media-content">
        <div class="content">
          <p>
            <a href="{{ tweet.url }}"><strong>{{ tweet.name }}</strong></a><br> 
            <small>{{ tweet.screenname }}</small> <small>{{ tweet.date 
            }}</small>
            <br>
            {{ tweet.text }}
          </p>
        </div>
        <nav class="level is-mobile">
          <div class="level-left">
            {% if tweet.retweets %}
              {{ tweet.retweets }} 
              <a class="level-item">
                <span class="icon is-small"><i class="fas fa-retweet"></i></span>
              </a>
            {% endif %}
            {% if tweet.likes %}
              {{ tweet.likes }} 
              <a class="level-item">
                <span class="icon is-small"><i class="fas fa-heart"></i></span>
              </a>
            {% endif %}
          </div>
        </nav>
      </div>
    </article>
  </div>
      {% endfor %}
    </div>
  </div>
</section>




<section class="is-large section-padding-large">
  <div class="container">

    <div class="columns is-horizontal-center">
    <div class="column is-8">
      
  <amp-carousel class="collapsible-captions"
  height="320"
  layout="fixed-height"
  controls
  loop
  autoplay
  delay="3000"
  type="slides">
  {% for photo in site.data.photos %}
  <figure>
    <div class="fixed-height-container">
      <amp-img layout="fill"
        src="/assets/images/photos/{{ photo.url }}"></amp-img>
    </div>
    <figcaption on="tap:AMP.setState({expanded: !expanded})"
      tabindex="0"
      role="button"
      [class]="expanded ? 'expanded' : ''">{{ photo.title }}<span [text]="expanded ? '&#9660;' : '&#9650;'">&#9650;</span>
    </figcaption>
  </figure>
  {% endfor %}
  </amp-carousel>

    </div>
    </div>

  </div>
</section>



