---
layout: default
title: GSWAI 2018
description: "At the end of november, during two weekends, one hundred web developers, graphic designers, business experts, engineers, researchers and students worked intensively on functional startup AI prototypes."
image: /assets/images/logo_small.png
permalink: /gswai2018

---

<section class="hero is-primary is-small" id="about">
  <div class="hero-body">
    <div class="container">
      <h1 class="title has-text-centered">
        {{ page.title }}
      </h1>
      <p>
        On the weekends of 23 and 30 of november the Global Startup Weekend AI will go life in 15 cities. 

        The weekend event is centered on action, innovation, and education.  
        Beginning on Friday night with an idea pitching session and 
        continuing throughout the weekend with testing, business 
        model development, and basic prototype creation, Startup 
        Weekend culminates on Sunday night with demo pitching in 
        front of a panel of potential investors and local 
        entrepreneurs.  Participants are challenged with building 
        functional startups during the event and are able to 
        collaborate with like-minded individuals.
      </p>
    </div>
  </div>
</section>

<section class="hero is-small" id="mentors">
  <div class="hero-body">
    <div class="container">
      <h2 class="title has-text-centered">
        Cities
      </h2>
      <nav class="level is-mobile">
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Weekends</p>
            <p class="title">2</p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Cities</p>
            <p class="title">14</p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Mentors</p>
            <p class="title">+150</p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Participants</p>
            <p class="title">+600</p>
          </div>
        </div>
      </nav>
      <center>
        <table class="table is-hoverable">
          <thead>
            <tr>
              <th>Hashtag</th>
              <th>Country</th>
              <th>Lead Organizer</th>
              <th>Date</th>
              <th>Facebook Page</th>
              <th>Sign up!</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>#SWAIHK</td>
              <td>Hong Kong</td>
              <td>Felix Wong</td>
              <td>30 Nov - 2 Dec</td>
              <td><a href="https://www.facebook.com/events/248171535822511/" target="_blank">Facebook</a></td>
              <td><a href="https://www.eventbrite.com/e/global-startup-weekend-artificial-intelligence-ai-2018-tickets-50953045932?fbclid=IwAR0h6QcsCfuDvADcB1DPE6f1emvCVhFYQVLTnmb9nFHiu8bUfX_EdiGy7RA" target="_blank">Join</a></td>
            </tr>
            <tr>
              <td>#SWAILima</td>
              <td>Peru</td>
              <td>Victor Pacora</td>
              <td>23 - 25 Nov</td>
              <td><a href="https://www.facebook.com/events/318107515636759/" target="_blank">Facebook</a></td>
              <td><a href="http://communities.techstars.com/peru/lima/startup-weekend/13605" target="_blank">Join</a></td>
            </tr>
            <tr>
              <td>#SWAIYaounde</td>
              <td>Cameroon</td>
              <td>Colbie Medjom</td>
              <td>23 - 25 Nov</td>
              <td><a href="https://www.facebook.com/events/540899696356588/" target="_blank">Facebook</a></td>
              <td><a href="https://bit.ly/2yr7V0A" target="_blank">Join</a></td>
            </tr>
            <tr>
              <td>#SWAILaPaz</td>
              <td>Bolivia</td>
              <td>Monica Irene</td>
              <td>23 - 25 Nov</td>
              <td><a href="https://www.facebook.com/events/365815747292136/" target="_blank">Facebook</a></td>
              <td><a href="https://docs.google.com/forms/d/e/1FAIpQLSetGiswY9d8hnx5-0nWk3w4gcQeVEJi841-O1xROX59GXYXZQ/viewform" target="_blank">Join</a></td>
            </tr>
            <tr>
              <td>#SWAIBrussels</td>
              <td>Belgium</td>
              <td>Elena Tosheva</td>
              <td>30 Nov - 2 Dec</td>
              <td><a href="https://www.facebook.com/events/247775735878600/" target="_blank">Facebook</a></td>
              <td><a href="https://www.eventbrite.com/e/techstars-startup-weekend-brussels-ai-tickets-49229747500?fbclid=IwAR1ht3vigbWsAIR9T_cAnjwwsT6ckSKgiAocCIU2idsjjoonMkWr1Zmy0Go" target="_blank">Join</a></td>
            </tr>
            <tr>
              <td>#SWAITaipei</td>
              <td>Taiwan</td>
              <td>David Kuo</td>
              <td>30 Nov - 2 Dec</td>
              <td><a href="https://www.facebook.com/events/322874345194850/" target="_blank">Facebook</a></td>
              <td><a href="https://www.eventbrite.com/e/techstars-global-startup-weekend-ai-taipei-edition-tickets-51396143248?fbclid=IwAR0LYlYNGxmIIujCG83MNJU6JtCelb-FA2bivgt4KTVYAhEJBg5uazR8Bcw&utm_source=Facebook_PicSee" target="_blank">Join</a></td>
            </tr>
            <tr>
              <td>#SWAIMTL</td>
              <td>Canada</td>
              <td>Michelle Yu</td>
              <td>23 - 25 Nov</td>
              <td><a href="https://www.facebook.com/events/1972294826401312/" target="_blank">Facebook</a></td>
              <td><a href="https://www.eventbrite.com/e/techstars-ai-startup-weekend-montreal-tickets-49919351123?fbclid=IwAR0xxleDvBQr_Xg3A1c8UCUkPqW20bAlncixXor2Hi-nF5adq9wggJlT-zE" target="_blank">Join</a></td>
            </tr>
            <tr>
              <td>#SWAIJeddah</td>
              <td>Jeddah</td>
              <td>Andrew Yip</td>
              <td>29 Nov - 1 Dec</td>
              <td><a href="https://www.facebook.com/events/504384103305093/" target="_blank">Facebook</a></td>
              <td><a href="https://www.eventbrite.com/e/startup-weekend-jeddah-global-ai-edition-tickets-50522311594?aff=efbevent&fbclid=IwAR2M9jiRExXwEuQMldwr5ByeX7Y4lob5qbvFpIn9T0ixpwp2s-JBsJ9b1n4" target="_blank">Join</a></td>
            </tr>
            <tr>
              <td>#SWAIAntananarivo</td>
              <td>Madagascar</td>
              <td>Randriamanivo Mialinjava</td>
              <td>30 Nov - 2 Dec</td>
              <td><a href="https://www.facebook.com/events/318439688912860/" target="_blank">Facebook</a></td>
              <td><a href="https://www.eventbrite.com/e/techstars-global-startup-weekend-artificial-intelligence-antananarivo-30112018-tickets-49703260791?fbclid=IwAR0_pWP-fAYUb0suaGVbMOW-d3MeHA6Z17L7rfJGKMrAVzRCd9lQO2PqfbQ" target="_blank">Join</a></td>
            </tr>
            <tr>
              <td>#SWAIParis</td>
              <td>France</td>
              <td>Candice Capelle</td>
              <td>30 Nov - 2 Dec</td>
              <td><a href="https://www.facebook.com/events/294607047798985/" target="_blank">Facebook</a></td>
              <td><a href="https://www.eventbrite.com/e/startup-weekend-artificial-intelligence-paris-2018-tickets-49865536161?fbclid=IwAR35xhGPXU5GjmLeKwg_TsI-mXsxKJAavXNnpOgmtf15YkSNh8KSxkiEs2Y" target="_blank">Join</a></td>
            </tr>
            <tr>
              <td>#SWAIIzmir</td>
              <td>Turkey</td>
              <td>Patrick Bosteels</td>
              <td>30 Nov - 2 Dec</td>
              <td><a href="https://www.facebook.com/events/317643755722197/" target="_blank">Facebook</a></td>
              <td><a href="https://www.eventbrite.com/e/global-techstars-startup-weekend-izmir-ai-with-iot-tickets-52174570545" target="_blank">Join</a></td>
            </tr>
            <tr>
              <td>#SWAIGuayaquil</td>
              <td>Equator</td>
              <td>Sergio Serna</td>
              <td>30 Nov - 2 Dec</td>
              <td><a href="" target="_blank">Facebook</a></td>
              <td><a href="" target="_blank">Join</a></td>
            </tr>
            <tr>
              <td>#SWAISzczecin</td>
              <td>Poland</td>
              <td>Maciej Jankowski</td>
              <td>30 Nov - 2 Dec</td>
              <td><a href="https://www.facebook.com/events/575562162881262/" target="_blank">Facebook</a></td>
              <td><a href="https://www.eventbrite.com/e/techstars-startup-weekend-szczecin-global-ai-edition-tickets-50390551496?fbclid=IwAR3Lhc-1PFTkT-FXXlmNPwQyqgP6hBLBtItJCTqBqXMLVRMhmOBYRX-pYos" target="_blank">Join</a></td>
            </tr>
            <tr>
              <td>#SWAIBeirut</td>
              <td>Lebanon</td>
              <td>Azhar Siddiqui</td>
              <td>30 Nov - 2 Dec</td>
              <td><a href="https://www.facebook.com/events/312102822719973/" target="_blank">Facebook</a></td>
              <td><a href="" target="_blank">Join</a></td>
            </tr>
          </tbody>
        </table>
      </center>


    </div>
  </div>
</section>

<section class="hero is-primary is-small" id="about">
  <div class="hero-body">
    <div class="container">
      <h2 class="title has-text-centered">
        Mentors
      </h2>
      {% for quote in site.data.mentors %}
      <article class="media">
        <figure class="media-left">
          <p class="image is-64x64">
            <amp-img width="64" height="64" layout="intrinsic" src="{{ quote.img }}" alt="{{ quote.author }}"></amp-img>
          </p>
        </figure>
        <div class="media-content">
          <div class="content">
            <p>
              <strong>{{ quote.author }}</strong> <small>{{ quote.title }}</small>
              <br>
              {{ quote.text }}
            </p>
          </div>
        </div>
      </article>
      {% endfor %}

    </div>
  </div>
</section>

<section class="hero is-small" id="mentors">
  <div class="hero-body">
    <div class="container">
      <h2 class="title has-text-centered">
        Global Juries
      </h2>
      {% for quote in site.data.juries %}
      <article class="media">
        <figure class="media-left">
          <p class="image is-64x64">
            <amp-img width="64" height="64" layout="intrinsic" src="{{ quote.img }}" alt="{{ quote.author }}"></amp-img>
          </p>
        </figure>
        <div class="media-content">
          <div class="content">
            <p>
              <strong>{{ quote.author }}</strong> <small>{{ quote.title }}</small>
              <br>
              {{ quote.text }}
            </p>
          </div>
        </div>
      </article>
      {% endfor %}

    </div>
  </div>
</section>
