---
layout: default
permalink: /
image: /assets/images/logo_small.png
video: true
carousel: true

---
<section class="hero is-primary is-small">
  <div class="hero-body has-bg-img">
    <div class="container">
      <center>
      <amp-img src="/assets/images/logo_small.svg" alt="GSWAI Logo" height="152" width="128" layout="intrinsic"></amp-img>
      </center>
      <h1 class="title has-text-centered">
        Global Startup Weekend Artificial Intelligence 
      </h1>
      <h2 class="subtitle has-text-centered">
        The future is NOW, let’s build it together!
      </h2>
      <center>
        <a on="tap:map-container.toggleVisibility" class="button is-primary is-inverted is-outlined">MAP &nbsp;<i class="fas fa-angle-down" aria-hidden="true"></i></a>
      </center>

    </div>
  </div>
</section>


<div class="container is-fullhd" id="map-container" hidden="">
  <div class="columns is-horizontal-center">
    <div class="column is-8-desktop is-12-mobile">
      <amp-iframe height="70" width="100" sandbox="allow-scripts" layout="responsive" src="/iframes/map-landing">
        <amp-img layout="nodisplay" src="/assets/images/photos/StartupWeekend.jpg" alt="Statup Weekend AI Montreal 2017" placeholder></amp-img>
      </amp-iframe>
    </div>
  </div>
</div>

<section class="section">
  <div class="container">
      <h2 class="title has-text-centered" >
        What is Global Startup Weekend AI (GSWAI)? 
      </h2>
      <div class="columns is-horizontal-center">
        <div class="column is-7-desktop is-12-mobile">
          <div class="video-player">
            <amp-video id="myVideo"
              controls
              width="1280"
              height="720"
              poster="/assets/images/photos/StartupWeekend.jpg"
              layout="responsive"
              src="https://globalswai.co/assets/videos/SWAIMontreal.mp4">
            </amp-video>
            <div id="myOverlay"
              class="click-to-play-overlay">

              <h3 class="video-title">SWAI Montreal 2017</h3>

              <div class="play-icon"
                role="button"
                tabindex="0"
                on="tap:myOverlay.hide, myVideo.play"></div>
              <amp-img class="poster-image" 
                src="/assets/images/photos/StartupWeekend.jpg" height="100" 
                width="300" layout="fill" alt="Startup Weekend AI Montreal 
                2017"></amp-img>
            </div>
          </div>
        </div>
        <div class="column">
      <p class="has-text-centered">
        GSWAI is a global volunteer-led initiative that started in Paris in 
        2016 it went global in 2017 to make artificial intelligence 
        technologies more spread world wide, more diverse, inclusive, and 
        impactful by removing barriers.  We are boosting and connecting SW 
        communities everywhere to organize their own SWAI and empower their 
        ecosystems to tackle AI.
      </p>
      <p class="has-text-centered">
        Tens of volunteer organisers are helping their local communities in 
        emerging and developed countries to embrace their inner entrepreneur, 
        and adopt new AI technologies to reply to world challenges.
      </p>
      <br>
      <div id="readmore-button">
        <center>
          <button on="tap:readmore-button.hide, readmore-text.toggleVisibility" 
            class="button is-warning">Read more </button>
        </center>
      </div>
      <br>
      <div id="readmore-text" hidden="">
        <h3 class="is-size-5 has-text-centered">GSWAI in Numbers</h3>
        <p class="has-text-centered">
          More than 1000 entrepreneurs & researchers will come together over 2 
          weekends in more than 10 cities where local Startup Weekend AI are 
          organised.<br>
          Several Workshops, challenges and expert content will be shared with the 
          global community over 1 month previous to GSWAI 10 global mentors from 
          world leading organisations in AI, machine learning, data 3 winning 
          teams 
        </p>
      </div>
        </div>
      </div>

  </div>
</section>


<section class="hero is-small is-warning">
  <div class="hero-body" id="about">
    <div class="container">

      <h2 class="title has-text-centered" >
         Get involved
      </h2>

      <h3 class="subtitle has-text-centered">
        3 incredible ways to get involved
      </h3>
      <div class="columns is-mobile is-multiline is-horizontal-center">

        <div id="organize_icon" class="column is-4-desktop is-12-mobile">
          <div class='card-content is-flex is-horizontal-center'>
            <figure class="image is-128x128">
              <amp-img src="/assets/images/getinvolved/organize.svg" alt="GSWAI Organize" height="128" width="128" layout="responsive"></amp-img>
            </figure>
          </div>

          <button on="tap:organize_text.toggleVisibility, attend_icon.toggleVisibility, partner_icon.toggleVisibility"  
            class="button is-primary is-inverted is-outlined" aria-haspopup="true" 
            aria-controls="dropdown-menu1">
            <p class="has-text-primary">Organize a Startup Weekend AI (#SWAI)</p>
            <span class="icon is-small">
              <i class="fas fa-angle-down" aria-hidden="true"></i>
            </span>
          </button>
        </div>
        <div id="organize_text" class="column is-4-desktop is-12-mobile" hidden="">
          <p>
            On the weekends of Global Startup Weekend AI end of 2018, 
            organize a Startup Weekend Artificial Intelligence in your 
            community!  Startup Weekend is a 54-hour event designed to 
            provide superior experiential education for technical and 
            non-technical entrepreneurs, students and everybody 
            interested in the entrepreneurial experience. The weekend 
            event is centered on action, innovation, and education.  
            Beginning on Friday night with an idea pitching session and 
            continuing throughout the weekend with testing, business 
            model development, and basic prototype creation, Startup 
            Weekend culminates on Sunday night with demo pitching in 
            front of a panel of potential investors and local 
            entrepreneurs.  Participants are challenged with building 
            functional startups during the event and are able to 
            collaborate with like-minded individuals.
          </p>
        </div>


        <div id="attend_icon" class="column is-4-desktop is-12-mobile 
          has-text-centered">
          <div class='card-content is-flex is-horizontal-center'>
            <figure class="image is-128x128">
              <amp-img src="/assets/images/getinvolved/attend.svg" alt="GSWAI attend" height="128" width="128" layout="responsive"></amp-img>
            </figure>
          </div>

          <a href="/gswai2018" on="tap:attend_text.toggleVisibility, 
            organize_icon.toggleVisibility, partner_icon.toggleVisibility" 
            class="button is-primary is-inverted is-outlined" aria-haspopup="true" 
            aria-controls="dropdown-menu2">
            <p class="has-text-primary">Attend</p>
            <span class="icon is-small">
              <i class="fas fa-angle-down" aria-hidden="true"></i>
            </span>
          </a>
        </div>
        <div id="attend_text" class="column is-4-desktop is-12-mobile" 
          hidden="">
          <p>
            Make your idea a reality. Join thousands of entrepreneurs around 
            the world for the most exciting two weekends of the year and 
            connect with the most qualified global mentors. <br> Get access to 
            resources and connections such as pre-event workshops, remote 
            mentoring, and live sessions with global communities during the 
            weekend!
          </p>
        </div>

        <div id="partner_icon" class="column is-4-desktop is-6-mobile 
          has-text-centered">
          <div class='card-content is-flex is-horizontal-center'>
            <figure class="image is-128x128">
              <amp-img src="/assets/images/getinvolved/partner.svg" alt="GSWAI partner" height="128" width="128" layout="responsive"></amp-img>
            </figure>
          </div>

          <button on="tap:partner_text.toggleVisibility, 
            organize_icon.toggleVisibility, attend_icon.toggleVisibility"
            class="button is-primary is-inverted is-outlined" aria-haspopup="true" 
            aria-controls="dropdown-partner">
            <p class="has-text-primary">Partner UP</p>
            <span class="icon is-small">
              <i class="fas fa-angle-down" aria-hidden="true"></i>
            </span>
          </button>
        </div>
        <div id="partner_text" class="column is-4-desktop is-6-mobile" 
          hidden="">
          Want to help support startups locally, regionally or 
          globally? <br>
          <p class="has-text-centered">
            <a class="button is-link" href="mailto:{{ site.author.email }}">Let's talk</a>
          </p>
        </div>

      </div>
    </div>
  </div>
</section>


<section class="section">
  <div class="container">
    <h2 class="title has-text-centered">
      WHY SHOULD I GET INVOLVED
    </h2>
    <div class="columns is-mobile is-multiline">
      <div class="column is-4-desktop is-6-mobile">
        <div class='card-content is-flex is-horizontal-center'>
          <figure class="image is-128x128">
            <amp-img src="/assets/images/whyinvolve/forget_boundaries1.svg" alt="GSWAI forget boundaries" height="128" width="128" layout="responsive"></amp-img>
          </figure>
        </div>
        <div class="content">
          Be part of a plural community, connect with other AI actors, share 
          knowledge and transfer skills
        </div>
      </div>
      <div class="column is-4-desktop is-6-mobile">
        <div class='card-content is-flex is-horizontal-center'>
          <figure class="image is-128x128">
            <amp-img src="/assets/images/whyinvolve/forget_boundaries_anim.svg" 
              alt="GSWAI forget boundaries" height="128" width="128" 
              layout="responsive"> </amp-img>
          </figure>
        </div>
        <div class="content">
          Forget boundaries, participate to the AI Renaissance, spread innovation and break challenges worldwide
        </div>
      </div>
      <div class="column is-4-desktop is-6-mobile">
        <div class='card-content is-flex is-horizontal-center'>
          <figure class="image is-128x128">
            <amp-img src="/assets/images/whyinvolve/bridge_gap2.svg" alt="GSWAI bridge gap between AI research and business" height="128" width="128" layout="responsive"></amp-img>
          </figure>
        </div>
        <div class="content">
          Bridge the gap between AI research world and business ecosystem, 
          transform AI in a applied world!
        </div>
      </div>
      <div class="column is-4-desktop is-6-mobile">
        <div class='card-content is-flex is-horizontal-center'>
          <figure class="image is-128x128">
            <amp-img src="/assets/images/whyinvolve/get_resources_anim.svg" 
              alt="GSWAI get connections" height="128" width="128" 
              layout="responsive"></amp-img>
          </figure>
        </div>
        <div class="content">
          Get access to resources and connections such as pre-event workshops, 
          remote mentoring, and live sessions with global communities!
        </div>
      </div>
      <div class="column is-4-desktop is-6-mobile">
        <div class='card-content is-flex is-horizontal-center'>
          <figure class="image is-128x128">
            <amp-img src="/assets/images/whyinvolve/test_ideas_anim.svg" 
              alt="GSWAI test ideas" height="128" width="128" 
              layout="responsive"></amp-img>
          </figure>
        </div>
        <div class="content">
          Test your ideas, skills, and passion in a safe and supported environment
        </div>
      </div>
      <div class="column is-4-desktop is-6-mobile">
        <div class='card-content is-flex is-horizontal-center'>
          <figure class="image is-128x128">
            <amp-img src="/assets/images/whyinvolve/exclusive_prices_anim.svg" 
              alt="GSWAI get exclusive prizes and perks" height="128" 
              width="128" layout="responsive"></amp-img>
          </figure>
        </div>
        <div class="content">
          Winning teams during GSW will receive exclusive prizes and perks!
        </div>
      </div>
    </div>

  </div>
</section>

<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h2 class="title has-text-centered">
        <a href="{{ "/articles" | prepend: site.baseurl }}" target="_blank">LAST ARTICLES</a>
      </h2>

      <amp-carousel id="carousel-with-preview"
        height="320"
        layout="fixed-height"
        controls
        loop
        autoplay
        delay="1000"
        type="carousel">


        {% for post in site.data.articles %}
        <div class="card">
          <div class="card-image">
            <figure class="image">
              <a href="{{ post.medium_url }}">
                <amp-img src="/assets/images/posts/{{ post.image_post }}" 
                  alt="{{ post.title }}"  height="200" width="300" 
                  layout="intrinsic"></amp-img>
              </a>
            </figure>
          </div>
          <div class="card-content is-4">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <amp-img src="/assets/images/posts/{{ post.image_author }}" alt="{{ post.author }}" height="48" width="48" layout="responsive"></amp-img>
                </figure>
              </div>
              <div class="media-content">
                <a class="content" href="{{ post.medium_url }}"><strong>{{ post.author }}</strong></a> <br>
                <p class="content">{{ post.date | date: "%b %-d, %Y" }}</p>
              </div>
            </div>

            {{ post.title | truncate:40 }}

          </div>
        </div>
        {% endfor %}
      </amp-carousel>

      <!--
      <div class="carousel-preview">
        {% for post in site.data.articles %}
        <a on="tap:carousel-with-preview.goToSlide(index={{ forloop.index }})" target="_blank">
          <i class="fas fa-circle"></i>
        </a>
        {% endfor %}
      </div>
      -->

    </div>
  </div>
</section>

<section class="section" id="sponsors">
  <div class="container">
    <h2 class="title has-text-centered">
      Gold Sponsors
    </h2>

    <div class="columns is-multiline is-horizontal-center is-mobile">
      <div class="column is-one-quarter-desktop is-half-mobile">
        <div class='card-content is-horizontal-center'>
          <a href="/accor_hotels">
            <figure class="image">
              <amp-img src="/assets/images/partners/accor.svg" alt="Accor hotels" height="128" width="256" layout="responsive"></amp-img>
            </figure>
          </a>
        </div>
      </div>
      <div class="column is-one-quarter-desktop is-half-mobile">
        <div class='card-content is-horizontal-center'>
          <figure class="image">
            <amp-img src="/assets/images/partners/accelerateur.svg" alt="Accelerateur Allianz" height="128" width="256" layout="responsive"></amp-img>
          </figure>
        </div>
      </div>
      <div class="column is-one-quarter-desktop is-half-mobile">
        <div class='card-content is-horizontal-center'>
          <figure class="image">
            <amp-img src="/assets/images/partners/bengs.svg" alt="Bengs incubateur innovation" height="128" width="256" layout="responsive"></amp-img>
          </figure>
        </div>
      </div>
    </div>

    <h2 class="title has-text-centered">
      Platinum Sponsors
    </h2>

    <div class="columns is-horizontal-center is-multiline is-gapless is-mobile">
      <div class="column is-one-quarter-desktop is-half-mobile">
        <div class='card-content is-horizontal-center'>
          <figure class="image">
            <amp-img src="/assets/images/partners/groupama.svg" alt="Groupama" height="128" width="256" layout="responsive"></amp-img>
          </figure>
        </div>
      </div>
      <!--
      <div class="column is-one-quarter-desktop is-half-mobile">
        <div class='card-content is-horizontal-center'>
          <figure class="image">
            <amp-img src="/assets/images/partners/capgemini.svg" alt="Cap Gemini" height="128" width="256" layout="responsive"></amp-img>
          </figure>
        </div>
      </div>
      -->
      <div class="column is-one-quarter-desktop is-half-mobile">
        <div class='card-content is-horizontal-center'>
          <figure class="image">
            <amp-img src="/assets/images/partners/blueshaker.svg" alt="Blue Shaker" height="128" width="256" layout="responsive"></amp-img>
          </figure>
        </div>
      </div>
    </div>

    <!--
    <h2 class="title has-text-centered">
      Gold Sponsors
    </h2>

    <div class="columns is-multiline is-horizontal-center is-mobile">
      <div class="column is-one-quarter-desktop is-half-mobile">
        <div class='card-content is-horizontal-center'>
          <figure class="image">
            <amp-img src="/assets/images/partners/google.svg" alt="google" height="128" width="256" layout="responsive"></amp-img>
          </figure>
        </div>
      </div>
      <div class="column is-one-quarter-desktop is-half-mobile">
        <div class='card-content is-horizontal-center'>
          <figure class="image">
            <amp-img src="/assets/images/partners/techstars.svg" alt="Techstars" height="128" width="256" layout="responsive"></amp-img>
          </figure>
        </div>
      </div>
    </div>
    -->

    <h2 class="title has-text-centered">
      Global Community Partners
    </h2>

    <div class="columns is-multiline is-horizontal-center is-mobile">
      <div class="column is-3-desktop is-half-mobile">
        <figure class="image">
          <amp-img src="/assets/images/partners/cityai.svg" alt="city ai" height="128" width="256" layout="responsive"></amp-img>
        </figure>
      </div>
      <div class="column is-3-desktop is-centered is-half-mobile">
        <figure class="image">
          <amp-img src="/assets/images/partners/snips.svg" alt="Snips" height="128" width="256" layout="responsive"></amp-img>
        </figure>
      </div>
    </div>

    <!--
    <h2 class="title has-text-centered">
      Global Media Partners
    </h2>

    <div class="columns is-multiline is-horizontal-center is-mobile">
      <div class="column is-4-desktop is-half-mobile">
        <div class='is-flex is-horizontal-center'>
          <figure class="image is-128x128">
            <amp-img src="/assets/images/partners/frenchweb.svg" alt="French Web" height="128" width="256" layout="responsive"></amp-img>
          </figure>
        </div>
      </div>
      <div class="column is-4-desktop is-half-mobile">
        <div class='is-flex is-horizontal-center'>
          <figure class="image is-128x128">
            <amp-img src="/assets/images/partners/maddyness.svg" alt="Maddyness Magazine" height="128" width="256" layout="responsive"></amp-img>
          </figure>
        </div>
      </div>
    </div>
    -->

    <h2 class="title has-text-centered">
      They supported us
    </h2>

    <div class="columns is-horizontal-center is-multiline is-gapless is-mobile">
      <div class="column is-2-desktop is-half-mobile">
        <div class='card-content is-horizontal-center'>
          <figure class="image">
            <amp-img src="/assets/images/partners/loreal.svg" alt="Loreal" height="128" width="256" layout="responsive"></amp-img>
          </figure>
        </div>
      </div>
      <div class="column is-2-desktop is-half-mobile">
        <div class='card-content is-horizontal-center'>
          <figure class="image">
            <amp-img src="/assets/images/partners/wayra_gray.svg" alt="WAYRA" height="128" width="256" layout="responsive"></amp-img>
          </figure>
        </div>
      </div>
      <div class="column is-2-desktop is-half-mobile">
        <div class='card-content is-horizontal-center'>
          <figure class="image">
            <amp-img src="/assets/images/partners/franceai.svg" alt="France AI" height="128" width="256" layout="responsive"></amp-img>
          </figure>
        </div>
      </div>
      <div class="column is-2-desktop is-half-mobile">
        <div class='card-content is-horizontal-center'>
          <figure class="image">
            <amp-img src="/assets/images/partners/bridge_gray.svg" alt="Bridge for millions" height="128" width="256" layout="responsive"></amp-img>
          </figure>
        </div>
      </div>
      <div class="column is-2-desktop is-half-mobile">
        <div class='card-content is-horizontal-center'>
          <figure class="image">
            <amp-img src="/assets/images/partners/hellotomorrow_gray.svg" alt="hello tomorrow" height="128" width="256" layout="responsive"></amp-img>
          </figure>
        </div>
      </div>
      <div class="column is-2-desktop is-half-mobile">
        <div class='card-content is-horizontal-center'>
          <figure class="image">
            <amp-img src="/assets/images/partners/tencent_gray.svg" alt="tencent" height="128" width="256" layout="responsive"></amp-img>
          </figure>
        </div>
      </div>
      <div class="column is-2-desktop is-half-mobile">
        <div class='card-content is-horizontal-center'>
          <figure class="image">
            <amp-img src="/assets/images/partners/vertica_gray.svg" alt="vertica" height="128" width="256" layout="responsive"></amp-img>
          </figure>
        </div>
      </div>
      <div class="column is-2-desktop is-half-mobile">
        <div class='card-content is-horizontal-center'>
          <figure class="image">
            <amp-img src="/assets/images/partners/ibm_gray.png" alt="IBL watson" height="128" width="256" layout="responsive"></amp-img>
          </figure>
        </div>
      </div>
      <div class="column is-2-desktop is-half-mobile">
        <div class='card-content is-horizontal-center'>
          <figure class="image">
            <amp-img src="/assets/images/partners/recast_gray.svg" alt="Recast AI" height="128" width="256" layout="responsive"></amp-img>
          </figure>
        </div>
      </div>
    </div>

  </div>
</section>
