---
layout: default
permalink: /team

---

<section class="hero is-primary is-small">
  <div class="hero-body">
    <div class="container">
      <h1 class="title has-text-centered">
        Behind the scence
      </h1>



      <div class="columns is-multiline is-horizontal-center is-mobile">

        {% for member in site.data.team %}
        <div class="column is-4-desktop is-half-mobile">
          <div class="card">
            <div class="card-image">
              <figure class="image is-1by1">
                <img class="is-rounded" src="{{ member.img }}" alt="{{ member.name }}">
              </figure>
            </div>
            <div class="card-content">

              <div class="content">
                <h2>{{ member.name }}</h2>
                <a class="icon" href="{{ member.linkedin }}">
                  <i class="fab fa-linkedin"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}

      </div>

    </div>
  </div>
</section>

<section class="hero is-small" id="quotes">
  <div class="hero-body">
    <div class="container">
      <h1 class="title has-text-centered">
        Quotes
      </h1>

      {% for quote in site.data.quotes %}
      <article class="media">
        <figure class="media-left">
          <p class="image is-64x64">
            <img src="{{ quote.img }}">
          </p>
        </figure>
        <div class="media-content">
          <div class="content">
            <p>
              <strong>{{ quote.author }}</strong> <small>{{ quote.title }}</small>
              <br>
              {{ quote.text }}
            </p>
          </div>
        </div>
      </article>
      {% endfor %}

    </div>
  </div>
</section>
