// 1. Import the initial variables
@import "bulma/sass/utilities/initial-variables";
@import "bulma/sass/utilities/functions";
//
//// Imports
@import 'variables';
//
//// Bulma.io CSS Framework
////@import "bulma/bulma";
@import "bulma/sass/utilities/derived-variables";
@import "bulma/sass/utilities/mixins";
//@import "bulma/sass/utilities/controls";
//@import "bulma/sass/base/generic";
@import "bulma/sass/base/helpers";
@import "bulma/sass/components/card";
@import "bulma/sass/components/dropdown";
////@import "bulma/sass/components/level";
@import "bulma/sass/components/media";
////@import "bulma/sass/components/menu";
////@import "bulma/sass/components/navbar";
//@import "bulma/sass/elements/box";
////@import "bulma/sass/elements/button";
@import "bulma/sass/elements/container";
////@import "bulma/sass/elements/content";
//@import "bulma/sass/elements/icon";
@import "bulma/sass/elements/image";
////@import "bulma/sass/elements/notification";
////@import "bulma/sass/elements/tag";
@import "bulma/sass/elements/title";
//@import "bulma/sass/grid/columns";
//@import "bulma/sass/grid/tiles";
@import "bulma/sass/layout/footer";
@import "bulma/sass/layout/hero";
@import "bulma/sass/layout/section";

@charset "utf-8";

// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #4c4c4c;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (min-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout"
;
