//
//
//

$body-bg: #000;

$navbar-height: 5.25rem;
$navbar-item-img-max-height: 4.75rem;

$navbar-burger-color: $white;

//$dimensions: 16 24 32 48 64 96 128 256 512;

.has-bg-img { background: url('/assets/images/GSWAI_withoutlogo.jpg')center 
center; background-size:cover;  opacity: 1.00; filter: alpha(opacity=1.00); }

.is-horizontal-center {
  justify-content: center;
}

$darkblue: #13123d;
$darkblue-invert: #ffffff;

$primary: $darkblue;
$primary-invert: $darkblue-invert;

#mapid_landing {
    z-index: 1;
}

#mapid {
    z-index: 1;
}
