---
# Only the main Sass file needs front matter (the dashes are enough)
---

// 1. Import the initial variables
@import "bulma/sass/utilities/initial-variables";
@import "bulma/sass/utilities/functions";

// Imports
@import 'variables';

// Bulma.io CSS Framework
@import "bulma/bulma";
@import "bulma-carousel/src/sass/index";


// Font-Awesome
@import 'font-awesome/font-awesome';

// Custom
.navbar-brand {
  font-weight: bold;
}

.post-card {

  .post-title {
    font-size: 1.6em;
  }

  .post-categories {
    margin-bottom: 5px;
  }
}
